<title>Bookstore animabus damnatis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>

    #menu a{
        color:white;
        background-color:black;
        padding: 5px;
    }

    #menu a:hover{
        color: white;
        background-color:darkgreen;
        border-bottom: white solid 1px;
    }

    .jumbotron.header{
        background-color: grey;
        color:white;
        background-image: linear-gradient(green,black);
    }
    .dropdown{
        margin-left:1200px;
    }

</style>
<div class="jumbotron header text-center">
    <h1>Bookstore animabus damnatis</h1>
    <p>nos ajude comprando livros sua compra nos matem vivos</p>
    <div class="dropdown dropleft ">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Menu
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/livros/all/">todos os livros</a>
            <a class="dropdown-item" href="/livros/user/">Meus livros cadastrados</a>
            <a class="dropdown-item" href="/livros/cadastrar/">Cadastrar livros</a>
            <a class="dropdown-item" href="/logout/">Sair</a>
        </div>
    </div>
</div>

<!--<div id="menu">-->
<!--    <ul class="nav ml-4">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/livros/all/">todos</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/livros/user/"> Meus</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/livros/cadastrar/"> cadastar</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="/logout/">Sair</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->